@import url(//fonts.googleapis.com/css?family=Honk);


html {
    background-color: #fae9ca;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Georgia;
}

header {
    text-align: center;
}

.header {
    font-family: Honk
}

.title {
    display: none;
}

footer {
  position: absolute;
  margin-bottom: 10;
  bottom: 0;
  width: 100%;
  height: 4rem;
}
