@import url(//fonts.googleapis.com/css?family=Honk);

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


html {
    background-color: #fae9ca;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Georgia;
}

header {
    text-align: center;
}

.header {
    font-family: Honk
}

.title {
    display: none;
}

footer {
    margin-top: auto;
}
