@import url(//fonts.googleapis.com/css?family=Honk);

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


html {
    background-color: #fae9ca;
    font-family: Georgia;
    margin: 0 max(2em, calc(30% - 300px)) 0;
}

header {
    text-align: center;
}

.header {
    font-family: Honk
}

.title {
    display: none;
}

footer {
    margin-top: auto;
}

.sourceCode {
  text-align: left;
  text-justify: inter-word;
}

div.sourceCode {
    margin: 1em 0;
    background: #CAFAE1;
    padding: 5px;
    border-radius: 1%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
